ansbookingapp_1_0_0_2/Workflows/Recurrence-CheckSpotIsSanitised-1AAAB143-F7B2-EA11-A812-002248006440.json
{"properties":{"connectionReferences":{"shared_sql":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sql"}},"shared_powerappsnotification":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_powerappsnotification"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Minute","interval":5},"type":"Recurrence"}},"actions":{"Check_Spot_Is_Sanitised":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sql","operationId":"ExecuteProcedure_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_sql"},"parameters":{"server":"default","database":"default","procedure":"[dbo].[ans_booking_spots_check_status_sp]","parameters/current_date":"@convertFromUtc(utcNow(),'GMT Standard Time', 'yyyy-MM-dd')","parameters/current_time":"@convertFromUtc(utcNow(),'GMT Standard Time','HH:mm:ss')"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Check_Spot_Is_Sanitised')?['body/resultsets/Table1']","actions":{"Condition":{"actions":{"Send_push_notification":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsnotification","operationId":"SendPushNotification","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsnotification"},"parameters":{"payload/recipients":["@items('Apply_to_each')?['email']"],"payload/message":"@{items('Apply_to_each')?['spot_name']} - @{items('Apply_to_each')?['space_name']} - Has been sanitised and ready for use.","payload/openApp":true,"payload/params":{"key":"notificationKey","value":"booking_update"}},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Send_push_notification_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsnotification","operationId":"SendPushNotification","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsnotification"},"parameters":{"payload/recipients":["@items('Apply_to_each')?['email']"],"payload/message":"@{items('Apply_to_each')?['spot_name']} - @{items('Apply_to_each')?['space_name']} - Has NOT been sanitised, please do NOT use.","payload/openApp":true,"payload/params":{"key":"notificationKey","value":"booking_update"}},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@items('Apply_to_each')?['spot_sanitised']",true]},"type":"If"}},"runAfter":{"Check_Spot_Is_Sanitised":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}