ansbookingapp_1_0_0_9/Workflows/PowerApp-GetAvailableSpots-62D2457B-1FAE-EA11-A812-002248006440.json
{"properties":{"connectionReferences":{"shared_sql_1":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_sql"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"GetAvailableSpots_date":{"type":"string","x-ms-powerflows-param-ispartial":false},"GetAvailableSpots_end":{"type":"string","x-ms-powerflows-param-ispartial":false},"GetAvailableSpots_space_id":{"type":"integer"},"GetAvailableSpots_start":{"type":"string","x-ms-powerflows-param-ispartial":false}},"required":["GetAvailableSpots_date","GetAvailableSpots_end","GetAvailableSpots_space_id","GetAvailableSpots_start"]}}}},"actions":{"Get_Available_Spots":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sql_1","operationId":"ExecuteProcedure_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_sql"},"parameters":{"server":"default","database":"default","procedure":"[dbo].[ans_booking_spots_availability_sp]","parameters/date":"@triggerBody()['GetAvailableSpots_date']","parameters/end":"@triggerBody()['GetAvailableSpots_end']","parameters/space_id":"@triggerBody()['GetAvailableSpots_space_id']","parameters/start":"@triggerBody()['GetAvailableSpots_start']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Spots_Available_Table":{"runAfter":{"Get_Available_Spots":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"spots_response_object","type":"object","value":"@outputs('Get_Available_Spots')?['body']"}]}},"Response":{"runAfter":{"Spots_Available_Table":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":"@variables('spots_response_object')","schema":{"type":"object","properties":{"ResultSets":{"type":"object","properties":{"Table1":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"spot_name":{"type":"string"},"spot_sanitised":{"type":"boolean"}},"required":["id","spot_name","spot_sanitised"]}}}},"ReturnCode":{"type":"integer"},"OutputParameters":{"type":"object","properties":{}}}}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}